# Website copy folder
Business/Feature/src/website-copy/

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.tfvars
!**/*.tfvars.example
**/tfplan
**/.terraformrc
**/terraform.rc
